[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
micropip = "==0.3.0"
packaging = "==23.0"
"pdfminer.six" = "*"

[dev-packages]

[requires]
python_version = "3.11.2"
